
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
#masthead {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% auto;
  grid-template-columns: 35% auto;
  position: relative;
  padding: 0 20px 0 10px;
}

.custom-logo {
  padding: 20px 0 0;
  width: 340px;
  max-width: 100%;
  margin: 0 20px;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 767px) {
  #masthead {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px auto;
    grid-template-columns: 200px auto;
    position: relative;
    padding-bottom: 0;
    padding: 0 10px 10px 0;
  }

  .custom-logo {
    width: 200px;
    max-width: 100%;
    margin: 0 20px;
    z-index: 1;
    position: relative;
  }
}

.header-image img {
  width: 100%;
  margin: 0;
}

.site-title,
.site-description {
  position: fixed;
  top: -100px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}


#page .entry-header:hover,
.single .entry-header:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 37.5em) {
  .content-w-sidebar {
    /* display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 50px 1fr;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 50px;*/
    max-width: 1400px;
  }

  #page .entry-header h1,
  .single .entry-header h1 {
    height: 400px;
    width: 520px;
    position: absolute;
    left: 0;
    margin: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    padding: 40px;
    color: var(--text-color);
  }

  #page .entry-header h1::after,
  .single .entry-header h1::after {
    content: "";
    background-color: var(--border-color);
    width: 700px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    -webkit-clip-path: polygon(0 0, 690px 0, 540px 100%, 0% 100%);
    clip-path: polygon(0 0, 690px 0, 540px 100%, 0% 100%);
  }

  #page .entry-header h1::before,
  .single .entry-header h1::before {
    content: "";
    background-color: var(--background-color);
    width: 700px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    -webkit-clip-path: polygon(0 0, 700px 0, 550px 100%, 0% 100%);
    clip-path: polygon(0 0, 700px 0, 550px 100%, 0% 100%);
  }
}

.site-footer {
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding: 80px 0 0;
}

.site-footer>.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.site-footer ul {
  margin: 0;
  padding: 0 15px;
}

.site-footer a {
  color: var(--background-color);
}

.site-footer a:hover {
  color: #2a2a98;
}

.site-footer .site-info {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 5px;
}

.site-footer .site-info a {
  color: var(--primary-color);
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  overflow: hidden;
  /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
  grid-area: sidebar;
}

#right-sidebar {
  background-color: var(--border-color);
  padding: 20px;
  border-radius: 5px;
}

#right-sidebar h2 {
  margin-top: 0;
}

