.site-footer{
    background-color: $color__footer;
    color: $color__background-body; 
    padding: 80px 0 0;
    > .container{    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    ul{
        margin: 0;
        padding: 0 15px;
    }
    a{
        color: $color__background-body; 
        &:hover{
            color:$color__footer__link-hover;
        }
    }
    .site-info{
        background-color: $color__background-footer-siteinfo;
        color: $color__footer-siteinfo;
        padding: 5px;
        a{
            color: $color__footer-siteinfo;
            ;
        }
    }
}
