
#masthead{
    display: grid;
    grid-template-columns: 35% auto;
    position: relative;
    padding: 30px 20px 0 10px;
}
.custom-logo{  
    width: 400px;
    max-width: 100%;
    margin: 0 20px; 
    z-index: 1;
    position: relative;
}
@media screen and (max-width: 767px) {
    #masthead{
        display: grid;
        grid-template-columns: 200px auto;
        position: relative;
        padding-bottom: 0;
        padding: 20px 10px 10px 0;
    }
    .custom-logo{  
        width: 200px;
        max-width: 100%;
        margin: 0 20px; 
        z-index: 1;
        position: relative;
    }
}
.header-image{
    img{ 
        width: 100%;
        margin: 0;
    }
}
.site-title,
.site-description{
    position: fixed;
    top:-100px;
}