// .site {
// 	display: grid;
// 	grid-template-columns: ($size__site-sidebar) auto;
// 	grid-template-areas:
// 		"header header"
// 		"sidebar main"
// 		"footer footer";
// }

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}
#right-sidebar{
	background-color: $color__background-header;
	padding: 20px;
	border-radius: $border__radius;
	h2{
		margin-top: 0
	}
}
@import "no-sidebar";
