$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-nav: #223347;
$color__background-link: #dadaec;
$color__background-hover: #fff;
$color__background-header: #F7F7F7;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2a2a98; //royalblue
$color__link-visited: #1D3349; //purple
$color__link-hover: #3f3fdf; //midnightblue
$color__text-main: #1D3349;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color__navlink: #5D5D5D;
$color__footer: #79AD00;
$color__background-footer-siteinfo: #95C91E;
$color__footer-siteinfo:#608A00;
$color__footer__link: #1D3349;
$color__footer__link-hover: #2a2a98;
$color__header: #79AD00;
