@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Poppins:ital,wght@0,300;1,300&display=swap');

// stylelint-disable value-keyword-case
$font__main: 'Poppins',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font__heading: 'Amaranth',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 2;
$font__line-height-pre: 1.6;
$font__bold: 400;
$font__normal: 300;
$font_light: 200
